{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<p></p>
<div class="container">
    <div class="card-group" id="redes-sociais">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/emerson.jpg' %}" class="card-img-top" alt="emerson">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">EMERSON MARTINS (Líder/Designer)</h5>
                        <p class="card-text">Responsavel pelo bom andamento das atividades, gerenciar e coordenar a
                            equipe e lidar com o design do projeto.</p>
                    </div>
                    <div class="card-footer">
                        <footer class=" text-center">
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                    <!-- Instagram -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.instagram.com/emersonmartinsg/?utm_source=ig_web_button_share_sheet&igshid=YzAwZjE1ZTI0Zg=="
                                        role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <!-- Linkedin -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.linkedin.com/in/emerson-martins-309ab0277/" role="button"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </section>
                                <!-- Section: Social media -->
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="{% static "img/deividi.jpg" %}" class="card-img-top" alt="deividi">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">DEIVIDI CARDOSO (Documentação)</h5>
                        <p class="card-text">Responsavel por documentar todo o processo de criação do site.</p>
                    </div>
                    <div class="card-footer">
                        <footer class="text-center">
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                    <!-- Instagram -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.instagram.com/deividi_cardoso_/?utm_source=ig_web_button_share_sheet&igshid=YzAwZjE1ZTI0Zg=="
                                        role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <!-- Linkedin -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.linkedin.com/in/deividi-cardoso-417195223/" role="button"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </section>
                                <!-- Section: Social media -->
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/arthur.jpg' %}" class="card-img-top" alt="arthur">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">ARTHUR PEIXOTO (Dev. Full Stack)</h5>
                        <p class="card-text">
                            Responsavel pela criação das telas e funcionalidades do site.
                        </p>
                    </div>
                    <div class="card-footer">
                        <footer class="text-center">
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                    <!-- Instagram -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://instagram.com/arthurr2415?igshid=YzAwZjE1ZTI0Zg==" role="button"
                                        target="_blank"><i class="fab fa-instagram"></i></a>
                                    <!-- Linkedin -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="http://www.linkedin.com/in/arthur-ribeiro-3b0096232" role="button"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </section>
                                <!-- Section: Social media -->
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/brenndo.jpg' %}" class="card-img-top" alt="brenndo">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">BRENNDO MACEDO (Dev. Full Stack)</h5>
                        <p class="card-text">Responsavel por criar todas as funcionalidades do site, criação e
                            gerenciamento do banco de dados.</p>
                    </div>
                    <div class="card-footer">
                        <footer class="text-center">
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                    <!-- Instagram -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.instagram.com/brenndomxcedo/?utm_source=ig_web_button_share_sheet&igshid=YzAwZjE1ZTI0Zg=="
                                        role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <!-- Linkedin -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.linkedin.com/in/brenndo-teixeira-macedo-8218b4201"
                                        role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </section>
                                <!-- Section: Social media -->
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/douglas.jpg' %}" class="card-img-top" alt="douglas">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">DOUGLAS DOS ANJOS (DBA)</h5>
                        <p class="card-text">Responsavel por gerenciar e manter os sistemas de gerenciamento de banco
                            de dados (SGBD).
                        </p>
                    </div>
                    <div class="card-footer">
                        <footer class="text-center">
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                    <!-- Instagram -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.instagram.com/douglasssanjos/?utm_source=ig_web_button_share_sheet&igshid=YzAwZjE1ZTI0Zg=="
                                        role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <!-- Linkedin -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.linkedin.com/in/douglas-anjos-bezerra-80a07a260/"
                                        role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </section>
                                <!-- Section: Social media -->
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">GLORISNALDO ROSA (Professor)</h5>
                        <p class="card-text">Um ótimo professor, me inspiro muito nele, uma grande referência na área de
                            redes, todas as vezes que você foi criticado... Saiba que sempre estivemos do seu lado.</p>
                    </div>
                    <div class="card-footer">
                        <footer class="text-center">
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                    <!-- Instagram -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.instagram.com/glorisnaldo/?utm_source=ig_web_button_share_sheet&igshid=YzAwZjE1ZTI0Zg=="
                                        role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <!-- Linkedin -->
                                    <a class="btn btn-outline-black btn-floating m-1"
                                        href="https://www.linkedin.com/in/naldo-santos-321893190/" role="button"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </section>
                                <!-- Section: Social media -->
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<p></p>

{% endblock %}